@import "../../styles/partials/mixins";

.glass-chat {
    margin: 0 1.6rem;
    padding: 1.6rem;

    @include tablet {
        margin: 3.2rem;

        @include desktop {
            // margin: 15.2rem;
            // margin: 0;
            @include flex-col;
            justify-content: center;
            margin: 3.2rem auto;
            max-width: 1080px;

        }
    }
}