@import "./mixins";
@import "./variables";

// import font 
// @import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Gloria+Hallelujah&family=Great+Vibes&family=Reenie+Beanie&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sue+Ellen+Francisco&display=swap');

// font-family: 'DM Mono', monospace;
// font-family: 'Gloria Hallelujah', cursive;
// font-family: 'Great Vibes', cursive;
// font-family: 'Reenie Beanie', cursive;
// font-family: 'Rubik', sans-serif;
// font-family: 'Sue Ellen Francisco', cursive;

body {
    font-family: 'DM Mono', monospace;
    // color: white;
    color: greenyellow;
    color: white;
}

h1 {
    @include type-rescale(2.4rem, 3.2rem, 700);
  
    @include tablet {
      @include type-rescale(3.3rem, 4.4rem, 700);
    }
  }
  
  h2 {
    @include type-rescale(1.2rem, 2.0rem, 700);
  }
  
  h3 {
    @include type-rescale(1.3rem, 1.8rem, 700);
  
    @include tablet {
      @include type-rescale(1.4rem, 2.2rem, 700);
    }
  }
  
  p {
    @include type-rescale(1.3rem, 1.8rem, 400);
  
    @include tablet {
      @include type-rescale(1.4rem, 2.2rem, 400);
    }
  }
  
  button,
  a {
    @include type-rescale(1.0rem, 2.0rem, 700);
  
    @include tablet {
      @include type-rescale(1.2rem, 2.0rem, 700);
    }
  }
  