@import "./mixins";
@import "./variables";

// import font 
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Forum&family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sue+Ellen+Francisco&family=Tenor+Sans&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// Title
// font-family: 'Sue Ellen Francisco', cursive;
// Chat
// font-family: 'DM Mono', monospace;

// Pair 1
// font-family: 'Archivo', sans-serif;
// font-family: 'Tenor Sans', sans-serif;

// Pair 2
// font-family: 'Forum', sans-serif;
// font-family: 'Work Sans', sans-serif;

// Pair 3
// font-family: 'Noto Serif', serif;
// font-family: 'Noto Sans', sans-serif;

body {
  font-family: $font-text;
    // color: white;
    color: greenyellow;
    color: white;
}

h1 {
    @include type-rescale(2.4rem, 3.2rem, 700);
  
    @include tablet {
      @include type-rescale(3.3rem, 4.4rem, 700);
    }
  }
  
  h2 {
    @include type-rescale(1.2rem, 2.0rem, 700);
  }
  
  h3 {
    @include type-rescale(1.3rem, 1.8rem, 700);
  
    @include tablet {
      @include type-rescale(1.4rem, 2.2rem, 700);
    }
  }

  h5 {
    @include type-rescale(1rem, 1.6rem, 300);
  
    @include tablet {
      @include type-rescale(1rem, 1.6rem, 300);
    }
  }
  
  p {
    @include type-rescale(1.3rem, 1.8rem, 400);
  
    @include tablet {
      @include type-rescale(1.4rem, 2.2rem, 400);
    }
  }
  
  button,
  a {
    @include type-rescale(1.0rem, 2.0rem, 700);
  
    @include tablet {
      @include type-rescale(1.2rem, 2.0rem, 700);
    }
  }
  