@import "./variables";


@mixin flex-col {
    display: flex;
    flex-direction: column;
}

@mixin flex-row {
    display: flex;
    flex-direction: row;
}

@mixin center-xy {
    justify-content: center;
    align-items: center;
}

@mixin center-x {
    justify-content: center;
}

@mixin center-y {
    align-items: center;
}

// tablet breakpoint
@mixin tablet {
    @media screen and (min-width: $tablet-breakpoint) {
        @content;
    }
}

// desktop breakpoint
@mixin desktop {
    @media screen and (min-width: $desktop-breakpoint) {
        @content;
    }
}

@mixin type-rescale ($font-size, $line-height, $font-weight) {
    font-size: $font-size;
    line-height: $line-height;
    font-weight: $font-weight;
}

@mixin glass-effect {
background: rgba(255, 255, 255, 0.09);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(3.7px);
-webkit-backdrop-filter: blur(3.7px);
}



  