// breakpoints
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

// Primary Colors
$brainflix-black: #323232;
$brainflix-blue: #0095FF;
$silver: #AFAFAF;
$white: #FFFFFF;
// Secondary Colors
$brainflix-darkblack: #000000;
$brainflix-darkblue: #0065AD;
$mercury: #E1E1E1;
$alabaster: #FAFAFA;




// background images
$background-img: url(./assets/background-images/light_faded_background_85547_1680x1050.jpg); // Light beige-blue Background
// $background-img: url(./assets/background-images/gradient_abstraction_pink_256766_1680x1050.jpg); // Light purple pink gradient, vertical
// $background-img: url(./assets/background-images/spot_sky_lines_85072_1680x1050.jpg); // beige-blue vertical high-contrast gradient (0.2 black overlay)
// $background-img: url(./assets/background-images/black-texture-burst.jpg);
// $background-img: url(./assets/background-images/corrugated-paper.jpg); // too much texture

$background-img: url(./assets/background-images/starburst.jpg); // definetely a contender ! w/ 0.1 black overlay
// $background-img: url(./assets/background-images/light-brushed-metal.jpg); // would be great with slightly more transparent glass
 