// breakpoints
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

// Title
$font-logo: 'Sue Ellen Francisco', cursive;
// Chat
$font-chat: 'DM Mono', monospace;

// Titles
$font-title: 'Forum', sans-serif;
// primary-text
$font-text: 'Work Sans', sans-serif;

// Highlight
$highlight: #adff2f;
$highlight: #48b5b0;


// Primary Colors
$white: #FFFFFF;
$white-75: rgba(255, 255, 255, 0.75);
$white-50: rgba(255, 255, 255, 0.5);
$white-50: rgba(255, 255, 255, 0.25);

// STARBURST COLORS (3):
// #F5BC91
// #D3676A
// #E48477

// black-global: #313740

// STARBURST COLOURS (6):
// #F3B38E
// #D3676A
// #F9D79B
// #E48477
// #EB9474


// background images
// $background-img: url(./assets/background-images/starburst-v1.jpeg); 
// $background-img: url(./assets/background-images/starburst-v2.jpeg); 
// $background-img: url(./assets/background-images/starburst-v3.jpeg); 

$background-img: url(./assets/background-images/starburst.jpg);
