@import "../../styles/partials/mixins";
@import "../../styles/partials/mixins-comps";
@import "../../styles/partials/variables";

// $red: rgba(255, 74, 86, 1);

// handleSVG template string
$colorString: str-slice(inspect($highlight), 2, 7); 

@mixin handleWidth() {
  width: 100%;
  min-width: 25rem;
  // max-width: 40rem;

}

.transition {
  transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
}

.btn-submit {
  @include btn-highlight;
  margin-top: 40px;
  width: 100%;
}

.form {
  @include flex-col;
  margin: 3.2rem 3.2rem;

  &__title {
    font-weight: 100;
    letter-spacing: 0.01em;
    margin-bottom: 0.8rem;
    // margin-top: 15px;
    // margin-left: 15px;
  }
}

.form-container {
  @include flex-col;
  justify-content: center;
  align-content: center;


  @include tablet {
    @include flex-row;
  }

  &__left {
    @include flex-col;
    @include tablet {
      align-items: center;
      width:50%;
    }
  }

  &__right {
    @include flex-col;
    @include tablet {
      align-items: center;
      width:50%;
    }
  }

}








form {
  .question {
    position: relative;
    padding: 10px 0;

    &:first-of-type {
      padding-top: 0;
    }

    &:last-of-type {
      padding-bottom: 0;
    }

    label {
      @extend .transition;
      transform-origin: left center;
      color: $highlight;
      font-weight: 100;
      letter-spacing: 0.01em;
      font-size: 17px;
      box-sizing: border-box;
      padding: 10px 15px;
      display: block;
      position: absolute;
      margin-top: -40px;
      z-index: 2;
      pointer-events: none;
    }


    // TEXT Settings
    input[type="text"] {
      @extend .transition;
      &:-webkit-autofill,
      &:-webkit-autofill:hover,
      &:-webkit-autofill:focus,
      &:-webkit-autofill:active {
          -webkit-box-shadow: 0 0 0px 1000px transparent inset;
          transition: background-color 5000s ease-in-out 0s;
      }

      @include handleWidth;
      appearance: none;
      background-color: transparent; // Changed 'none' to 'transparent'
      border: 1px solid $highlight;
      line-height: 0;
      font-size: 17px;

      box-sizing: border-box;
      padding: 10px 15px;
      border-radius: 60px;
      color: $highlight;
      font-weight: 100;
      letter-spacing: 0.01em;
      position: relative;
      z-index: 1;

    

      &:focus {
        outline: none;
        background: $highlight;
        color: $white;
        margin-top: 30px;
      }

      &:valid {
        margin-top: 30px;
      }

      &:focus ~ label {
        transform: translateY(-35px);
      }

      &:valid ~ label {
        text-transform: uppercase;
        font-style: italic;
        transform: translateY(-35px) scale(0.6);
      }
    }


    // DATE FIELDS - Remove Calendar Icon
    input[type="date"]::-webkit-calendar-picker-indicator {
      background: transparent;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      cursor: pointer;
      z-index: 2;
    }

    input[type="date"] {
      width: 100%;
      @extend .transition;
      background: transparent;
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      z-index: 1;
      appearance: none;
      background-color: transparent; // Changed 'none' to 'transparent'
      border: 1px solid $highlight;
      font-size: 17px;
      padding: 10px 15px;
      border-radius: 60px;
      color: $highlight;
      font-weight: 100;
      letter-spacing: 0.01em;
      z-index: 1;
      color: transparent;

      &:focus {
        outline: none;
        background: $highlight;
        color: $white;
        margin-top: 30px;
      }

      &:valid {
        margin-top: 30px;
      }

      &:focus ~ label {
        transform: translateY(-35px);
      }

      &:valid ~ label {
        text-transform: uppercase;
        font-style: italic;
        transform: translateY(-35px) scale(0.6);
      }
    }

    input[type="date"]:valid,
    input[type="date"]:valid::-webkit-datetime-edit-text {
      color: $highlight; /* For webkit browsers */
    }

    input[type="date"]:focus::-webkit-datetime-edit-text,
    input[type="date"]:focus::-webkit-datetime-edit-fields-wrapper,
    input[type="date"]:focus::-webkit-datetime-edit-day-field,
    input[type="date"]:focus::-webkit-datetime-edit-month-field,
    input[type="date"]:focus::-webkit-datetime-edit-year-field {
      color: white; /* For webkit browsers when focused */
    }

    .select-item {
      @extend .transition;
      display:flex;
      height: 42px;
      width: 100%;
      appearance: none;
      background-color: transparent;
      border: 1px solid $highlight;
      // line-height: 0;
      font-size: 17px;
      box-sizing: border-box;
      // padding: 10px 15px;
      padding-right: 30px; // Adjusted for the dropdown icon space
      padding-left: 15px;
      border-radius: 60px;
      color: $highlight;
      font-weight: 100;
      letter-spacing: 0.01em;
      position: relative;
      z-index: 1;
      background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 4 5"><path fill="%23#{$colorString}" d="M2 0L0 2h4L2 0zM2 5L0 3h4L2 5z"></path></svg>');
      background-size: 2.5% 50%;
      background-repeat: no-repeat;
      background-position: right 10px center; // Adjust the position as needed
  
      &:focus {
          outline: none;
          background: $highlight;
          background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 4 5"><path fill="%23ffffff" d="M2 0L0 2h4L2 0zM2 5L0 3h4L2 5z"></path></svg>');
          background-size: 2.5% 50%;
          background-repeat: no-repeat;
          background-position: right 10px center; 
          color: $white;
          margin-top: 30px;
      }
  
      &:valid {
          margin-top: 30px;
          // color: white;
      }
  
      &:focus ~ label {
          transform: translateY(-35px);
      }
  
      &:valid ~ label {
          text-transform: uppercase;
          font-style: italic;
          transform: translateY(-35px) scale(0.6);
      }
  }
  }
}

