@import "../../styles/partials/mixins";

.header {
    @include flex-col;
    align-items: center;
    justify-content: center;

    height: 8rem;

  &__title {
    font-family: "Sue Ellen Francisco", cursive;
    color: white;
    
    padding: 1.6rem;
    @include flex-col;
    width: 100%;
    text-align: center;
  }
}
