

.flash-card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.flash-card-input-form {
    display: none;  
    flex-direction: column;
    align-items: center;
    position: absolute;  
    top: 100%;
    width: 100%; 

    background-color: transparent;

    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0s ease-in-out 1s; 
}

.flash-card-container:hover .flash-card-input-form {
    display: flex;  

    opacity: 1;
    visibility: visible;
    transition-delay: 0s;
}

.flash-card {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 150px;
    text-align: center;
    position: relative;
    transition: background-color 0.3s;
    margin-bottom: 10px;
    background: rgba(255, 255, 255, 0.13);
border-radius: 12px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5.8px);
-webkit-backdrop-filter: blur(5.8px);
border: 1px solid rgba(255, 255, 255, 0.26);

    form {
        position: absolute;
        bottom: -10px;
        left: 50%;
        transform: translateX(-50%);
    }

    &.green {
        background: rgba(161, 227, 178, 0.126);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5.8px);
-webkit-backdrop-filter: blur(5.8px);
border: 1px solid rgba(0, 248, 78, 0.218);
    }

    &.red {
        background-color: rgba(248, 215, 218,0.126);
        // background: rgba(161, 227, 178, 0.126);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5.8px);
        -webkit-backdrop-filter: blur(5.8px);
        border: 1px solid rgba(248, 29, 0, 0.218);
    }
}