@import "../../styles/partials/variables";
@import "../../styles/partials/mixins";

.discover {
  @include flex-col;
  @include center-xy;

  &__central-container {
    @include flex-row;
    height: 100%;
    align-items: stretch;
    gap: 2rem;
    max-width: 600px;
    margin: 3.2rem;
  }

  &__features {
    @include flex-col;
    width: 50%;
    height: 100%;
    gap: 2em; // convert to rem

    flex: 1;
    align-items: stretch;
  }

  &__info {
    @extend .discover__features;
    flex-grow: 1;
  }

  &__card {
    @include flex-col;
    flex: 1;
    padding: 1.7rem;
    border-radius: 1em; // convert to rem
    gap: 0.5em; // convert to rem
    // height: 100px;

    position: relative;
    border-left: none;
    border-right: solid 3px $flash-color-semi-trans;
    border-bottom: solid 1px $flash-color-semi-trans;
    box-shadow: 5px 0px 10px $shadow-color;
    transition: 0.5s ease-in-out;

    &:hover {
      border-right: none;
      border-left: solid 3px $flash-color;
      box-shadow: -5px 0px 10px $shadow-color;
    }

    &--title {
      font-size: 1.4rem;
      font-weight: 600;
      color: $flash-color;
      align-items: center;
    }

    &--block {
      @include flex-col;
      font-weight: 300;
      color: $flash-color;
      gap: 0.5em;
      padding: 1rem 0;

      .discover__card--text {
        font-size: 1rem;
        line-height: 1.3rem;
        padding-right: 4rem;
      }

      .discover__card--footer {
        color: $white-75;
      }
    }
  }

  .discover__card--options {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 100%;
    border-radius: 0.8rem 1rem 1rem 0.8rem;
    background-color: $flash-color-semi-trans;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 1em;
    opacity: 0;
    transition: 0.5s;
    @include glass-effect;
    border-radius: 0.8rem 1rem 1rem 0.8rem;

    // applies effect
    &:hover { 
      opacity: 1;
    }

    .discover__card--action {
      color: $white-75;
      text-align: center;
      padding: 1.4rem;
      line-height: 2.4rem;
      font-size: 1.8rem;
    }
  }

  .card {
    @extend .discover__card;
  }

  .card-title {
    @extend .discover__card--title;
  }

  .card-block {
    @include flex-col;
    font-weight: 300;
    color: $flash-color;
    gap: 0.5em;
    padding: 1rem 0;
  }

  .user-card, .daily-word-card {
    flex-grow: 1;
    flex-shrink: 0;  
    overflow: auto; 
}

  .user-info,
  .word-info {
    display: flex;
    justify-content: flex-start;

    &__keys,
    &__values {
      @include flex-col;
      width: 50%;
    }

    &__key,
    &__value {
      line-height: 1;
    }
  }

  .daily-word-card {
    flex-grow: 1;  
    overflow: auto; 
    display: flex; 
    flex-direction: column; 
  }

  .daily-word-sent {
    @include flex-col;
    @include center-xy;
    flex-grow: 1;  
    height: 88px; // adjust to scale here

    &__text {
      font-family: "Tenor Sans";
      font-size: 1.8rem;
      color: $white-75;
      text-align: center;
    }
  }
}

.column-keys,
.column-values {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.column-keys {
  width: 50%;
}

.info-key {
  font-weight: 600;
}

// .font-size-title {
//   font-size: 1.6rem;
// }

// .font-size-main {
//   font-size: 1.6rem;
// }